 /* Estilos específicos para los posts del blog */
 .blog-posts {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los posts */
}
.blog-post {
    flex: 0 1 calc(30% - 20px); /* Calcula el ancho para cuatro columnas */
    border: 1px solid #ddd;
    padding: 15px;
    background-color: #F19294;
    color: white;
    border-radius: 10px; /* Bordes redondeados */
    transition: transform 0.2s; /* Transición suave al pasar el ratón */
}
.blog-post:hover {
    transform: scale(1.05); /* Agrandar ligeramente al pasar el ratón */
}
.blog-post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px; /* Bordes redondeados */
}
.blog-post h2 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.5em;
}
.blog-post p {
    margin-bottom: 10px;
}
.container-blog {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px; /* Espacio entre los contenedores */
}
.mensaje-no-blogs{
    display: none;
    text-align: center;
}
.container-rosado {
    flex: 1; /* Toma 1 parte del espacio disponible */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s;
}
.container-rosado h2 {
    cursor: pointer;
    color: #56B9B3; /* Color del texto */
    font-family: 'Arial', sans-serif; /* Fuente personalizada */
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.filter-form{
    display: none;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    gap: 0.5rem;
}

.filter-form.show{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    max-height: 500px;
}


.filter-option {
    display: flex;
    align-items: center;
    background-color: #ffe5e5;
    padding: 0.3rem 0.3rem;
    border-radius: 5px; /* Bordes redondeados */
}
.filter-option input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2); /* Agrandar el checkbox */
}
.filter-option label {
    font-size: 0.8rem;
    color: #555; /* Color del texto */
    transition: color 0.3s;
}
.filter-option:hover label {
    color: #000; /* Color del texto al pasar el ratón */
}
.container-celeste {
    padding: 20px;
    flex: 3; /* Toma 3 partes del espacio disponible */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: background-color 0.3s;
}
.container-celeste h1 {
    font-family: 'Arial', sans-serif; /* Fuente personalizada */
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .container-blog{
        flex-direction: row;
    }
    .filter-form.show{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .container-rosado{
        padding: 0 1rem;
    }
}

@media (max-width: 480px) {
    .blog-posts {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Una columna para dispositivos móviles */
        gap: 20px; /* Espacio entre columnas */
    }

    .blog-post {
        padding: 0 1rem; /* Espaciado horizontal para cada blog */
    }
}




