.descripcion-blog{
    text-align: center;
    color: #57bab5;
    
}
.descripcion-blog h1 {
    font-family: 'Arial', sans-serif; /* Fuente personalizada */
    font-size: 2em;
    text-transform: uppercase;
}

.descripcion-blog p {
    font-weight: 600;
    padding-left: 18rem;
    padding-right: 18rem;
}

.container-blog {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container-rosado {
    flex: 1; /* Toma 1 parte del espacio disponible */
    background-color: #e6e6e6;
    transition: background-color 0.3s;
}
.container-rosado h2 {
    cursor: pointer;
    color: #56B9B3;
    font-weight: 400;
    font-family: 'Arial', sans-serif; /* Fuente personalizada */
    font-size: 1.8em;
    margin-bottom: 20px;
    text-align: center;
}

.filter-form {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: grid; /* Cambiado de 'none' a 'grid' para que siempre se muestre */
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 0.5rem;
    max-height: none; /* Cambiado de '0' a 'none' para evitar restricciones de altura */
}
.filter-option {
    display: flex;
    align-items: center;
    padding: 0.3rem 0.3rem;
    border: 2px solid #fff;
}

.filter-option input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
}
.filter-option label {
    font-size: 1em;
    color: #57bab5;
    font-weight: 400;
    transition: color 0.3s;
}
.filter-option:hover label {
    color: #63D3C7;
    cursor: pointer;
}

/* Estilos específicos para los posts del blog */
.blog-posts {
    margin: 0 auto !important;
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los posts */
}
.blog-post {
    flex: 0 1 calc(30% - 20px); /* Calcula el ancho para cuatro columnas */
    background-color: #fff;
    transition: transform 0.2s; /* Transición suave al pasar el ratón */
}
.blog-post:hover {
    transform: scale(1.05); /* Agrandar ligeramente al pasar el ratón */
}
.blog-post img {
    height: 150px;
    width: 250px;
    background-size: cover;
    margin-bottom: 10px;
}
.blog-post h2 {
    text-align: center;
    color: black;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1.125em;
    padding-left: 10px;
    padding-right: 10px;
}
.blog-post p {
    color: #333;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.mensaje-no-blogs {
    display: none;
    text-align: center;
}
.container-celeste {
    padding: 20px;
    flex: 3; /* Toma 3 partes del espacio disponible */
    background-color: #63D3C7;
    transition: background-color 0.3s;
}

.pagination {
    margin-top: 2rem;
    text-align: center;
}

.pagination a {
    color: #007bff;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border: 1px solid #007bff;
    margin: 0 5px;
}

.pagination a.active,
.pagination a:hover {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
}

.pagination a.disabled {
    pointer-events: none;
    color: #6c757d;
    border-color: #6c757d;
}

.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center; /* Centra el contenedor de búsqueda */
}

.search-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    flex: 1;
}

.search-container button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #57bab5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: start;
    text-transform: uppercase;
}

.search-container button:hover {
    background-color: #56B9B3;
}

@media (min-width: 768px) {
    .container-blog {
        flex-direction: row;
    }
    .filter-form {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .container-rosado {
        padding: 0 1rem;
    }
}

@media (max-width: 480px) {
    .blog-posts {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* Una columna para dispositivos móviles */
        gap: 20px; /* Espacio entre columnas */
    }
    .blog-post {
        padding: 0 1rem; /* Espaciado horizontal para cada blog */
    }
}
