.descripcion-blog {
  /* color: #57bab5; */
  width: 85%;
  margin: 0 auto;
  

}

.descripcion-blog h1 {
  color: #ffffff;
  text-align: center;
  font-size: 3em;
  text-transform: uppercase;
  
}
.descripcion-blog p {
  padding: 1.5rem;
  /* background-color: #f6f6f6; */
  color: #ffffff;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.container-blog {
  width: 85%;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 3rem 0;
}

.container-right {
  flex: 1; /* Toma 1 parte del espacio disponible */
  background-color: #f8f9fa;
  transition: background-color 0.3s;
}
.container-right h2 {
  color: #1d7e90;
  font-weight: 600;
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
}

.container-left {
  padding: 20px;
  flex: 3;
  /* background-color: #f8f9fa; */
  transition: background-color 0.3s;
}
.filter-form {
  margin: 1rem 1rem 2rem 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0.5rem;
  max-height: none; /* Cambiado de '0' a 'none' para evitar restricciones de altura */
}
.filter-option {
  display: flex;
  align-items: center;
  padding: 0.3rem 0.3rem;
  border: 2px solid #fff;
}

/* Estilo para los checkboxes */
.filter-option input[type="checkbox"] {
    margin-right: 10px;
    transform: scale(1.2);
    appearance: none; /* Eliminamos el estilo predeterminado */
    width: 14px;
    height: 14px;
    border: 2px solid #534489;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}

/* Estilo para el checkbox cuando está marcado */
.filter-option input[type="checkbox"]:checked {
    background-color: #534489;
    border: 2px solid #534489;
}

.filter-option input[type="checkbox"]:checked::before {
    content: '\2713'; /* Símbolo de check */
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}




.filter-option label {
  font-size: 1em;
  color: #9897d1;
  font-weight: 400;
  transition: color 0.3s;
}
.filter-option:hover label {
  color: #534489;
  cursor: pointer;
}

/* Estilos específicos para los posts del blog */
.blog-posts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.blog-post {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 10px;
  flex: 0 1 calc(30% - 20px); /* Calcula el ancho para cuatro columnas */
  background-color: #fff;
  transition: transform 0.2s; /* Transición suave al pasar el ratón */
}
.blog-post:hover {
  transform: scale(1.05);
}
.blog-post img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 150px;
  width: 100%;
  background-size: cover;
  margin-bottom: 10px;
}
.blog-post h2 {
  text-align: start;
  color: #534489;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 1.125em;
  padding-left: 10px;
  padding-right: 10px;
}
.blog-post h2:hover {
  color: #9897d1;
}
.blog-post p {
  color: #777a7c;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.mensaje-no-blogs {
  display: none;
  text-align: center;
}

.pagination {
  margin-top: 4rem;
  text-align: center;
}

.pagination a {
  color: #007bff;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #007bff;
  margin: 0 5px;
}

.pagination a.active,
.pagination a:hover {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination a.disabled {
  pointer-events: none;
  color: #6c757d;
  border-color: #6c757d;
}

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center; /* Centra el contenedor de búsqueda */
}

.search-container input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
  width: 100%;
}

.search-container button {
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #57bab5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: start;
  text-transform: uppercase;
}

.search-container button:hover {
  background-color: #56b9b3;
}

.pagination .page-link {
  color: #534489; /* Color para los números no seleccionados */
  padding: 10px;
  text-decoration: none;
  border: 2px solid #534489;
  margin: 0 5px;
  border-radius: 50%; /* Hace que la forma sea circular */
  width: 25px; /* Ancho del círculo */
  height: 25px; /* Altura del círculo */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: bold; /* Texto más grueso */
}

.pagination .page-link.active {
  color: white; /* Color para el número seleccionado */
  background-color: #534489;
  border: 2px solid #534489;
}

.pagination .page-link:hover {
  background-color: #534489;
  color: white;
}

.pagination .disabled {
  pointer-events: none; /* Desactiva los botones de Anterior/Siguiente si no se puede avanzar */
  opacity: 0.5; /* Reduce la opacidad */
}

/* Estilo para el contenedor del dropdown */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}


/* Estilo para el botón del dropdown */
.dropbtn {
  background-color: #534489;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  border-radius: 5px;
}

/* Contenedor del contenido del dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(233, 232, 232);
  min-width: 100%;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  max-height: 480px; /* Controla la altura del dropdown */
  overflow-y: auto;
  border-radius: 5px;
  padding: 5px 0;
}

/* Mostrar el contenido cuando se hace clic */
.dropdown.active .dropdown-content {
  display: block;
}

/* Estilo para las opciones dentro del dropdown */
.filter-option {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
}

/* Estilo para las opciones cuando se seleccionan */
.filter-option:hover {
  background-color: #adacdbcb;
}


/* Responsive Styles */
@media (max-width: 768px) {
  .dropbtn {
      font-size: 14px;
      padding: 8px;
  }

  .dropdown-content {
      max-height: 150px;
  }

  .filter-option {
      padding: 8px;
  }
}



@media (min-width: 768px) {
  .container-blog {
    flex-direction: row;
  }
  .filter-form {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .container-rosado {
    padding: 0 1rem;
  }
}

@media (max-width: 480px) {
  .blog-posts {
    display: grid;
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Una columna para dispositivos móviles */
    gap: 20px; /* Espacio entre columnas */
  }
  .blog-post {
    padding: 0 1rem; /* Espaciado horizontal para cada blog */
  }
}
