*{
    padding: 0;
    margin: 0;
}

.contactanos-contenedor{
    height: calc(100vh - 4.5rem);
    display: flex;
    align-items: center;
}

.contactanos-contenido{
    display: flex;
    margin: 0 3rem;
    border: solid #56B9B3 2px;
    width: 90%;
    align-items: start;
    justify-content: center;
    padding: 2rem 0;
}

.texto-contactanos{
    padding: 0 3rem;
}

.texto-contactanos h2{
    margin-top: 0;
    color: #56B9B3;
}

.contactanos-contenido>form{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem 0.5rem;
    padding: 0 2rem;
}

.formulario-contactanos>input{
    padding: 0.5rem 0.5rem;
    border: solid #56B9B3 1px;
    border-radius: 0.3rem;
}

.formulario-contactanos #email{
    grid-column: span 2 / span 2;
}

.formulario-contactanos #mensaje{
    grid-column: span 2 / span 2;
    height: 6rem;
    padding: 0.5rem 0.5rem;
    border: solid #56B9B3 1px;
    border-radius: 0.3rem;
    resize: vertical;
}

.formulario-contactanos #enviar{
    grid-column: span 2 / span 2;
    background-color: #F19394;
    border: none;
}

@media (max-width: 768px){
    .contactanos-contenido{
        flex-direction: column;
        gap: 3rem 0;
    }
    .contactanos-contenido>form{
        padding: 0 3rem;
    }
}