/* Estilos para el footer rosado */
.footer-rosado {
    background-color: #f19294; /* Color de fondo rosado */
    color: white; /* Color de texto blanco */
    width: 100%;
    text-align: center;
    position: relative; /* Añadido para facilitar el posicionamiento */
}

.footer-content-dos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center; /* Alinea verticalmente los elementos */
    max-width: 1200px;
    padding: 1rem 0;
    margin: 0 auto;
}

.redes-sociales-footer {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.redes-sociales-footer a {
    color: white;
    font-size: 2rem;
    transition: color 0.3s ease;
}

.redes-sociales-footer a:hover {
    color: #f2f2f2; /* Color de los íconos al pasar el ratón */
}

.logo { /* Tamaño máximo para la imagen */
    height: 2rem; /* Ajusta la altura automáticamente */
}

.bn {
    filter: brightness(0) invert(1); /* Ajuste de brillo e invertido */
}

/* Ajustes responsivos */
@media (min-width: 640px){
    .footer-content-dos{
        flex-direction: row;
        gap: 6rem;
    }
}

@media (min-width: 768px){
    .footer-content-dos{
        gap: 8rem;
    }
}

@media (min-width: 1024px){
    .footer-content-dos{
        gap: 14rem;
    }
}