.footer-rosado {
    background-color: rgba(241, 146, 148, 1); /* Ajusta el color según tus necesidades */
    padding: 20px;
}

.footer-content-dos {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.redes-sociales-footer {
    display: flex;
    flex-wrap: wrap;
}

.redes-sociales-footer a {
    color: #fff; /* Cambia el color de los iconos a blanco */
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

.logo-container {
    text-align: right;
}

.logo {
    filter: brightness(0) invert(1); /* Cambia el color del logo a blanco */
    width: 150px; /* Ajusta el tamaño según tus necesidades */
}

@media (max-width: 768px) {
    .footer-content-dos {
        flex-direction: row;
        justify-content: space-between;
    }

    .redes-sociales-footer {
        justify-content: flex-start;
    }

    .logo-container {
        text-align: right;
    }

    .redes-sociales-footer a {
        margin: 0 5px;
        font-size: 20px;
    }

    .logo {
        width: 100px;
    }
}

@media (max-width: 480px) {
    .footer-content-dos {
        flex-direction: row;
        justify-content: space-between;
    }

    .redes-sociales-footer {
        justify-content: flex-start;
    }

    .logo-container {
        text-align: right;
    }

    .redes-sociales-footer a {
        margin: 0 3px;
        font-size: 18px;
    }

    .logo {
        width: 80px;
    }
}
