/* Estilos para el carrusel */
.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.carousel img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-caption {
    position: absolute;
    top: 350px; /* Ajustar según la necesidad */
    left: 180px; /* Ajustar según la necesidad */
    color: white;
    padding: 10px;
    text-align: left;
    border-radius: 5px;
    max-width: 300px; /* Ajustar según la necesidad */
}

.carousel-caption h3 {
    margin: 0;
    font-size: 2.5em;
}

.carousel-caption p {
    margin: 20px 0 0 0; /* Ajustar márgenes según necesidad */
    font-size: 1.5em;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}
