.container-especialidades {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}
.icon-grid-title {
    font-size: 2em;
    margin-bottom: 20px;
}
.icon-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 1rem;
    justify-content: space-between;
}
.icon-item {
    flex: 1 0 10%;
    text-align: center;
    margin: 10px;
}
.icon-item a {
    text-decoration: none;
    color: #56b9b3; /* Color celeste para los íconos */
    display: block;
}
.icon-item i {
    font-size: 50px;
    transition: color 0.3s;
}
.icon-item a:hover i {
    color: #56b9b3; /* Color al pasar el cursor */
}
.icon-caption {
    margin-top: 10px;
    font-size: 1em;
    color: #333;
}

