.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 20rem; /* Ocupa toda la altura del viewport */
}

.carousel-item {
    min-width: 100%;
    height: auto;
    display: flex;
    box-sizing: border-box;
}

.carousel-item img {
    width: 50%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    object-position: center;
}

.carousel-caption {
    background-color: #f19294;
    color: white;
    text-align: left;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.carousel-caption h3 {
    width: 90%;
    font-size: 2.5rem;
}

.carousel-caption p {
    width: 90%;
    font-size: 1.5rem;
}

.botones {
    width: 97.5%;
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.botones button {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid black 1px;
}
/*
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    user-select: none;
    z-index: 5; /* Asegura que los controles estén sobre las imágenes 
}

.carousel-control-prev {
    left: 10px; /* Ajusta la posición izquierda 
}

.carousel-control-next {
    right: 10px; /* Ajusta la posición derecha 
}*/

/* Ajustes responsivos */
@media (min-width: 768px) {
    .carousel-inner {
        height: 30rem;
    }
}
@media (max-width: 768px) {
    .carousel-caption h3 {
        font-size: 1.2rem; /* Ajusta el tamaño del título */
    }

    .carousel-caption p {
        font-size: 0.9rem; /* Ajusta el tamaño del párrafo */
    }
}

@media (max-width: 480px) {
    .carousel-caption h3 {
        font-size: 1rem; /* Ajusta el tamaño del título */
    }

    .carousel-caption p {
        font-size: 0.8rem; /* Ajusta el tamaño del párrafo */
    }
}
