/* Estilos para el footer rosado */
.footer-rosado {
    background-color: #ff8bde; /* Color de fondo rosado */
    color: white; /* Color de texto blanco */
    padding: 30px;
    text-align: center;
    position: relative; /* Añadido para facilitar el posicionamiento */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; /* Alinea los elementos al fondo */
    max-width: 1200px;
    margin: 0 auto;
}

.redes-sociales {
    display: flex;
    align-items: flex-end; /* Alinea los íconos al fondo */
}

.redes-sociales a {
    color: white;
    font-size: 2.5em;
    margin-right: 20px;
    transition: color 0.3s ease;
}

.redes-sociales a:hover {
    color: #f2f2f2; /* Color de los íconos al pasar el ratón */
}

.logo-container {
    position: absolute; /* Posiciona la imagen absolutamente */
    right: 30px; /* Ajusta la distancia desde la derecha */
}

.logo {
    max-width: 150px; /* Tamaño máximo para la imagen */
}
