/* Estilos para el footer celeste */
.footer-celeste {
    background-color: rgba(86, 185, 179, 1); /* Cambia el último valor (1) para ajustar la opacidad */
    color: white; /* Color de texto blanco */
    width: 100%;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 1rem 0;
    margin: 0 auto;
}

.footer-content div {
    flex: 1;
}

.footer-content h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.footer-content h3 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn-rosado {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(241, 146, 148, 1); /* Cambia el último valor (1) para ajustar la opacidad */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.btn-rosado:hover {
    background-color: #f19294; /* Color del botón rosado al pasar el ratón */
}
