body {
    font-family: 'Poppins';
}

.container {
    width: 90%;
    margin: auto;
}

nav {
    background-color: #ffffff;
    padding: 5px 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: auto;
    height: 3.5rem;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    margin-right: 30px;
}

.menu-icon span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a {
    font-size: 1.25rem;
    line-height: 1.75rem;
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
    color: #31c7f5;
}

.nav-links li a:hover {
    background-color: #5bc0de;
    color: #ffffff;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .menu-icon {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin-right: 0;
        text-align: center;
        width: 100%;
    }

    .nav-links li a {
        padding: 10px;
        width: 100%;
        display: block;
    }
}