
body {
    font-family: 'Poppins';
}

.container-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 3.5rem;
    align-items: center;
    padding: 0.5rem 0;
}

nav {
    background-color: #ffffff; /* Color de fondo del menú */
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-img {
    width: auto; /* Ancho máximo de la imagen */
    height: 3.5rem; /* Altura automática para mantener la proporción */
    margin-left: 1rem;
}

.menu-icon {
    display: none; /* Ocultar el icono del menú en pantallas grandes */
    flex-direction: column;
    gap: 0.3rem;
    cursor: pointer;
    margin-right: 1rem;
}

.menu-icon span {
    height: 0.25rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    background-color: #56B9B3;
    transition: 0.4s;
}

.nav-links {
    list-style-type: none; /* Quitar los puntos de la lista */
    display: flex;
    padding: 0.5rem 0;
    align-items: center;
    gap: 0.5rem;
}


.nav-links li a {
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none; /* Quitar subrayado de los enlaces */
    color: #333; /* Color inicial del texto de los enlaces */
    display: inline-block; /* Mostrar los enlaces en línea */
    transition: 0.3s ease-in-out; /* Transición suave */
    color: #56B9B3;
    padding: 0.5rem 0.5rem;
}

.nav-links li a:hover {
    background-color: #56B9B3; /* Color de fondo al pasar el ratón */
    color: #ffffff; /* Color del texto al pasar el ratón */
    border-radius: 5px; /* Borde redondeado al pasar el ratón */
}

@media (max-width: 768px) {
    .menu-icon {
        display: flex; /* Mostrar el icono del menú en pantallas pequeñas */
    }

    .nav-links {
        position: absolute;
        display: none;
        top: 3.5rem;
        left: 0;
        flex-direction: column;
        width: 100%;
        background-color: #ffffff;
        z-index: 10;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin-right: 0; /* Quitar el margen entre los elementos del menú en pantallas pequeñas */
        text-align: center; /* Centrar los enlaces en pantallas pequeñas */
        width: 100%;
    }

    .nav-links li a {
        padding: 0.5rem; /* Espaciado interno de los enlaces en pantallas pequeñas */
        width: 100%;
        display: block;
    }
}

@media (min-width: 768px) {

    .nav-links{
        gap: 2rem;
        padding: 1rem;
    }
    .nav-links li a {
        font-size: 1rem;
    }

    .logo-img {
        width: auto;
        height: 2.5rem;
    }
}

@media (min-width: 1024px) {
    .nav-links{
        gap: 2.5rem;
        padding: 1rem;
    }
    .nav-links li a {
        font-size: 1.25rem;
    }

    .logo-img {
        width: auto;
        height: 3rem;
    }
}

@media (min-width: 1280px){
    .nav-links li a {
        font-size: 1.25rem;
    }

    .logo-img {
        width: auto;
        height: 3.5rem;
    }
}