.search-container {
  text-align: center;
}

.search-container input[type="text"] {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
}

.search-container button {
  padding: 10px 20px;
  background-color: #F19294;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-container button:hover {
  background-color: #C26E72;
}

.section-container {
  display: flex;
  justify-content: space-between;
  max-width: 123.75rem;
  margin: 0 auto;
}

.left-section {
  width: 20%;
  padding: 20px;
}

.right-section {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.psicologo-container {
  border: 1px solid #ccc;
  padding: 1.5rem;
  margin: 0;
  border-radius: 10px;
  background-color: #FAFAFA; /* Softer neutral background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.psicologo-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.psicologo-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin: 2.5rem 0 3rem;
}

.testimonial {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #fff;
}

.link-list,
.social-links {
  list-style-type: none;
  padding: 0;
}

.link-list li,
.social-links li {
  margin: 5px 0;
}

.pagination {
  text-align: center;
  margin-bottom: 2rem;
}

.pagination a {
  color: #007bff;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  border: 1px solid #007bff;
  margin: 0 5px;
}

.pagination a.active,
.pagination a:hover {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination a.disabled {
  pointer-events: none;
  color: #6c757d;
  border-color: #6c757d;
}

.wsp-button {
  width: 100%;
  background-color: #F19294;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.wsp-button:hover {
  background-color: #C26E72;
}

.testimonial-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.testimonial-item {
  background-color: #56B9B3;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-item h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.testimonial-item p {
  font-size: 1rem;
  line-height: 1.4;
}

.psicologo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.5rem;
}

.psicologo-nombre {
  margin: 0;
  transition: color 0.3s, transform 0.3s;
}

.psicologo-tag {
  background-color: #ee5c3f; /* Adjusted tag color for better contrast */
  color: white;
  padding: 0.3125rem 0.625rem;
  border-radius: 1.25rem;
  font-size: 0.9rem;
  display: inline-block;
  margin-left: 0.625rem;
  opacity: 0.8;
}

.psicologo-introduction {
  text-align: start;
}

.title {
  font-size: 2em;
  color: #1d7e90;
}

@media (max-width: 768px) {
  .search-container input[type="text"] {
      width: 80%;
  }

  .section-container {
      flex-direction: column;
  }

  .left-section,
  .right-section {
      width: 100%;
      padding: 10px;
  }

  .psicologo-container {
      flex: 1 1 100%;
      margin: 10px 0;
  }

  .psicologo-row {
      grid-template-columns: 1fr;
  }

  .search-container {
      margin: 10px;
  }

  .search-container button {
      margin-top: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .search-container input[type="text"] {
      width: 70%;
  }

  .section-container {
      flex-direction: column;
  }

  .left-section,
  .right-section {
      width: 100%;
      padding: 15px;
  }

  .psicologo-container {
      flex: 1 1 48%;
      margin: 10px;
  }

  .psicologo-row {
      grid-template-columns: 1fr 1fr;
  }

  .search-container {
      margin: 15px;
  }

  .search-container button {
      margin-top: 5px;
  }
}

@media (min-width: 1025px) {
  .psicologo-row {
      grid-template-columns: repeat(3, 1fr);
  }
}

.intro-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.p-introduction {
  font-size: 1.1rem;
  color: #56B9B3;
  line-height: normal;
  background: #F6F6F6;
  padding: 1.5rem;
}

@media (max-width: 1025px){
  .intro-container {
    display: flex;
    flex-direction: column;
  }

  .left-section, .right-section {
    width: 85%;
    padding: 15px;
  }

  .search-container {
    width: 100%;
  }
}

/* Ocultar números de paginación en pantallas pequeñas */
@media (max-width: 540px) {
  .pagination a.page-link,
  .pagination span.page-link {
      display: none;
  }
}
