/* Estilos para el contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el formulario de búsqueda */
.search-container {
    text-align: center;
    margin-bottom: 30px;
}

.search-container input[type='text'] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.search-container input[type='submit'] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.search-container input[type='submit']:hover {
    background-color: #45a049;
}

/* Estilos para la tabla de usuarios */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

table .user_data_pass {
    max-width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 
    Estilos para el formulario de CRUD 
*/
.form-container {
    margin-bottom: 30px;
}

.form-container form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form-container form input[type='text'],
.form-container form input[type='password'],
.form-container form input[type='url'],
.form-container form select,
.form-container form textarea {
    padding: 10px;
    width: 48%;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-container form input[type='submit'] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.form-container form input[type='submit']:hover {
    background-color: #45a049;
}

/*
    Estilos para las acciones
*/
.acciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.acciones form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.acciones form input[type='submit'] {
    width: auto;
    padding: 5px 10px;
    margin-top: 5px;
}

.acciones form input[type='submit']:hover {
    background-color: #45a049;
}

.acciones form select,
.acciones form input[type='text'],
.acciones form input[type='password'],
.acciones form input[type='url'],
.acciones form textarea {
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.logout-button {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.logout-button form input[type='submit'] {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.logout-button form input[type='submit']:hover {
    background-color: #c0392b;
}

.gestion-contactenos-btn {
    background-color: #f45231; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
