:root {
    --color-primary: #49c691;
    --color-danger: #6a91f4;
    --color-delete: red;
    --color-success: #b4d77b;
    --color-warning: #6a91f4;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #49c691;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --modal-bg-color: #fff;
    --bg-transparent-color: rgba(0, 0, 0, 0.1);

    --box-shadow: 0px 0px 20px rgb(0 0 0 / 10%);

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

/*=========== dark mode ===============*/
.dark-theme-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-dark-variant: #a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
}

h1 {
    font-size: 1.2rem;
    color: #6a90f1;
}

h2 {
    font-size: 2rem;
    color: #6a90f1;
}

h3 {
    font-size: 0.9rem;
}

h4 {
    font-size: 2.5rem;
    color: #49c691;
}

h5 {
    font-size: 0.9rem;
    color: #6a90f1;
}

h6 {
    font-size: 2rem;
}
small {
    font-size: 0.7rem;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-primary);
}

.success {
    color: var(--color-success);
}

.warning {
    color: var(--color-warning);
}

tr {
    background-color: var(--color-white);
    border-radius: 40px;
    /* Borde ovalado */
}
td {
    text-align: center;
}
th {
    background-color: var(--color-white);
    color: #6a90f1;
}

input {
    font: inherit;
    border: none;
    font-weight: bold;
}
textarea {
    font: inherit;
    border: none;
    top: 20px;
}

button {
    font: inherit;
    text-decoration: none;
    border: none;
    color: inherit;
}
.animate__animated .pagination a {
    color: var(--color-primary);
}
select {
    font: inherit;
    border: none;
    font-weight: bold;
    color: #000;
}
form {
    margin-inline: auto;
    max-width: 990px;
    text-align: center;
    display: flex;
    border-radius: 8px;
    flex-direction: column;
    padding: 25px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 5px;
    background-color: #49c691;
    color: #ffffff;
    cursor: pointer;
    border-radius: 7px;
    border: 0.1em solid #49c691;
    padding: 2px;
    outline: 2px solid #49c691;
    transition: color 1s;
}
.buttonTab {
    font: inherit;
    text-decoration: none;
    cursor: pointer;
    border: none;
    color: inherit;
    background-color: var(--color-white);
}
.search:hover {
    color: black;
    cursor: pointer;
}
main {
    margin: 30px 20px;
}
.container {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.5rem;
    grid-template-columns: 17rem auto;
}
.center-divs {
    display: flex;
    justify-content: space-between;
}
.notification {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: max-content;
    padding: 20px 15px;
    border-radius: 4px;
    background-color: #141619;
    color: #f6f5f9;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
    animation: fade-in 4s linear forwards;
}

.notification__progress {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 3px;
    transform: scaleX(0);
    transform-origin: left;
    background-image: linear-gradient(to right, #539bdb, #3250bf);
    border-radius: inherit;
    animation: load 3s 0.25s linear forwards;
}
@keyframes fade-in {
    5% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    90% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes load {
    to {
        transform: scaleX(1);
    }
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 15px;
    background-color: #6b93f3;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    border: 0.1em solid #6b93f3;
    padding: 5px 35px;
    outline: 1px solid #6b93f3;
    transition: color 1s;
    letter-spacing: 2px;
}

.button:hover {
    color: black;
    cursor: pointer;
}

.button-container {
    display: flex;
    gap: 20px;
    justify-content: flex-end; /* Cambiamos de "right" a "flex-start" */
}

/*======== Info =========*/
main .top {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 3rem;
    margin-right: 2em;
    gap: 1rem;
}

.button-seguridad {
    text-transform: uppercase;
    letter-spacing: 1px;
    align-items: center;
    font-weight: bold;
    background-color: #b4d77b;
    color: #fff;
    border-radius: 1px;
    outline: 2px solid #b4d77b;
    padding: 5px 10px;
    overflow: hidden;
    transition: color 1s;
}

.button-seguridad:hover {
    color: black;
    cursor: pointer;
}

main .theme-toggler {
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6rem;
    width: 4.2rem;
    cursor: pointer;
    border-radius: var(--border-radius-1);
}

main .theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .theme-toggler span.active {
    background: var(--color-primary);
    color: white;
    border-radius: var(--border-radius-1);
}

.ajustes {
    font-size: 40px;
}

.info {
    font-size: 15px;
    font-weight: bold;
    display: flex;
    gap: 0.4rem;
    align-items: center;
}

.info > div {
    height: 24px;
    width: 2px;
    background-color: #000;
}

.cerrar-info {
    font-size: 15px;
    font-weight: bold;
}

/* ============ ASIDE ===============*/
aside {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    transition: all 200ms ease;
    height: 100vh;
}

.logo h2 {
    color: #49c691;
}

aside .logo {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

aside .logo img {
    width: 3rem;
    height: 3rem;
}

aside .close {
    display: none;
}

/* ============ SIDEBAR ===============*/
aside .sidebar {
    display: flex;
    flex-direction: column;
    height: 83vh;
    position: relative;
    top: 3rem;
}

aside h3 {
    font-weight: 500;
}

aside .sidebar a {
    display: flex;
    color: #6c85e5;
    gap: 0.9rem;
    align-items: center;
    position: relative;
    height: 3.9rem;
    transition: all 300ms ease;
}

aside .sidebar a span {
    font-size: 1.7rem;
    transition: all 300ms ease;
}

aside .sidebar a.active {
    background: #49c691;
    color: #ffffff;
    margin-left: 0;
    border-radius: 0px 20px 20px 0px;
    width: 120.5%;
}

aside .sidebar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    background: #49c691;
}

aside .sidebar a.active span {
    color: #ffffff;
    margin-left: calc(1rem - 4px);
}

aside .sidebar a.active:hover {
    color: #ffffff;
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 1rem;
}

@media screen and (max-width: 1280px) {
    aside .logo h2 {
        display: none;
    }
    aside .sidebar h3 {
        display: none;
    }
    aside .sidebar a {
        width: 4.6rem;
    }
    aside .sidebar a:last-child {
        position: relative;
        margin-top: 1.8rem;
    }
    .container {
        width: 94%;
        grid-template-columns: 7rem auto;
    }
    .container-calendario {
        width: 94%;
        grid-template-columns: 7rem auto;
    }
    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
    }
}

/*=========== Div Buscador=============*/
.contenedor-botones {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding: 0px 0px 0px 10px;
    border-top: 1px solid #6a90f1;
    border-bottom: 1px solid #6a90f1;
    height: 80px;
}

.button-arriba {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 10px 30px;
    font-size: 10px;
    color: #6a90f1;
    cursor: pointer;
    border-radius: 10px;
    border: 0.1em solid #6a90f1; /* Color del borde */
    outline: 1px solid #6a90f1;
    transition: color 1s;
}

.button-arriba:hover {
    color: black;
    cursor: pointer;
}

.button-eliminar {
    display: none;
    height: 40px;
    padding: 10px 30px;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: red;
    cursor: pointer;
    border-radius: 10px;
    border: 0.1em solid red; /* Color del borde */
    outline: 1px solid red;
    transition: color 1s;
}

.button-eliminar:hover {
    color: black;
    cursor: pointer;
}

.separador {
    border: 1px solid #6a90f1; /* Línea negra como separador hacia arriba */
    height: 60px;
    width: 1px;
    margin: 0px 10px;
}
#search-icon {
    display: flex;
    color: #6a90f1;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

/* Buscador */
.input-buscador {
    display: flex;
    height: 40px;
    width: fit-content;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #6a90f1;
}

.input-buscador input::placeholder {
    color: #6a90f1;
    font-weight: lighter;
    font-style: italic;
    font-weight: bold;
}

.input-buscador input textarea::placeholder {
    color: #6a90f1;
    font-weight: lighter;
    font-style: italic;
}

.input-buscador input {
    width: 100%;
    height: 100%;
    background: var(--color-background);
    background-color: transparent;
}

/*============= Estilo para el checkbox principal ===============*/
.checkbox-principal {
    cursor: pointer;
    position: relative;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
    margin-right: 10px;
}
/* Estilo para el checkbox principal cuando está marcado */
.checkbox-principal:checked {
    color: red;
    background-color: red;
    border-color: red;
}

/* Estilos para el checkbox*/

.checkbox {
    position: relative;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
    margin-right: 10px;
}

.checkbox:checked {
    background-color: #007bff;
    border-color: #007bff;
}

.checkbox + label {
    font-size: 16px; /* Tamaño de fuente del texto */
    vertical-align: middle; /* Alinea verticalmente el texto con el checkbox */
}
/* Estilo para el tick (✓) dentro de los checkboxes individuales cuando están marcados */
.checkbox:checked::before {
    content: '-';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    color: #fff;
}

/* Estilo para el botón desplegable */
/* Estilos para las opciones del botón */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

/* Estilos para las opciones del botón cuando se muestra */
.dropdown-content.active {
    display: flex;
}

/* Estilos para las opciones del botón */
.dropdown-content a {
    padding: 10px;
    gap: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.input-group-modal input,
textarea,
select {
    width: 100%;
    padding: 10px 15px;
    border-radius: 8px;
    background-color: var(--color-background);
    color: #7b7c89;
    margin-top: 10px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-modal {
    visibility: hidden;
    opacity: 0;
    max-width: 0;
    overflow-x: hidden;
    transition: max-width 0.5s ease;
}

.service-modal.active {
    visibility: visible;
    max-width: 600px;
    opacity: 1;
}

.service-modal-body {
    position: relative;
    background: var(--modal-bg-color);
    max-width: 600px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.close {
    color: #aaa;
    float: right;
    font-size: 20px;
    font-weight: bold;
    margin: 0 !important;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.closeaaa {
    color: #aaa;
    font-size: 20px;
    font-weight: bold;
    margin: 0 !important;
}

.closeaaa:hover,
.closeaaa:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.navigation {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999999;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-transparent-color);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
}

.navigation.active {
    visibility: visible;
    opacity: 1;
}

.ajuste-info {
    cursor: pointer;
}

/* boton modal*/
.button-modal {
    color: white;
    padding: 7px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
}
/* boton cancelar*/
.button-cancelar {
    background-color: var(--color-primary);
}

/* boton delete*/
.button-delete {
    background-color: var(--color-delete);
}

.button-editar {
    background-color: var(--color-danger);
}

.button-modal:hover {
    cursor: pointer;
    color: #dcdcdc;
}

.modal-button-container {
    display: flex;
    gap: 15px;
    justify-content: end;
}

.message_dialog {
    width: 400px;
}

.form-info {
    position: relative;
    background: var(--modal-bg-color);
    width: auto;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    transform: translateY(-50px);
    transition: 0.3s ease;
}
