.table__blog {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    overflow: hidden;
}
.table__blog thead tr {
    border-bottom: 1px solid #333;
}
.table__blog thead th {
    background-color: #f2f2f2;
    color: #333;
    font-weight: bold;
    padding: 15px;
    text-align: center;
    font-size: 15px;
}
.table__blog thead th:first-child {
    border-top-left-radius: 10px;
}
.table__blog thead th:last-child {
    border-top-right-radius: 10px;
}

.table__blog tbody tr:hover {
    background-color: #f2f2f2;
}
.table__blog tbody tr {
    border-bottom: 1px solid #ddd;
}
.table__blog tbody td {
    padding: 10px 0;
    text-align: center;
    font-size: 14px;
    border-right: 1px solid #ddd;
}
.table__blog tbody td:last-child {
    border-right: none;
}

.small-img {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
}
.action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}
.action-buttons a {
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 4px;
    color: white;
}
.edit-button {
    background-color: #4CAF50;
}
.delete-button {
    background-color: #f44336;
}
/* td, th {
    vertical-align: middle;
} */
.modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    width: 90%;
    max-width: 600px;
    animation: slide-down 0.3s ease-out;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
.modal-header,
.modal-body,
.modal-footer {
    margin-bottom: 15px;
}
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.modal-header h2 {
    margin: 0;
    font-size: 24px;
}
.modal-body input,
.modal-body textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.modal-footer button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.modal-footer .btn-cancel {
    background-color: #ccc;
    color: #000;
}
.modal-footer .btn-save {
    background-color: #4CAF50;
    color: #fff;
}
.form-container {
    padding: 20px;
    border-radius: 10px;
    max-width: 1000px;
    margin: 20px auto;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}
.form-container .button-arriba {
    margin-block-start: 1rem;
    width: 30%;
    margin-left: auto;
}