.containerTotal {
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1rem;
    grid-template-columns: 7rem auto;
    overflow-y: hidden;
    height: 100vh;
}
@media (min-width: 1280px) {
    .containerTotal {
        width: 94%;
        grid-template-columns: 17rem auto;
    }
}
.seguridad-section {
    margin-block-start: 20px;
    height: calc(100vh - 60px);
    overflow-y: auto;
}
.seguridad-section::-webkit-scrollbar {
    width: 6px;
}
.seguridad-section::-webkit-scrollbar-thumb {
    background-color: #49c691;
    border-radius: 3rem;
}
.hero {
    padding: 20px;
}

.container {
    color: #10028f;
}

.contenedor,
.wave-contenedor {
    width: min(90%, 900px);
    overflow: hidden;
    margin-inline: auto;
    margin-block: 0 30px;
    /* padding: 0 0 20px 0; */
}

.titulo {
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    margin-bottom: 15px;
}

.titulo.left {
    text-align: center;
}

.titulo.right {
    text-align: right;
}

@media (min-width: 768px) {
    .website {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 2rem;
    }
    .website .contenedor-textos-main {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
    .website .contenedor-img {
        grid-column: 1 / 2;
    }
}
@media (min-width: 992px) {
    .website {
        gap: 3rem;
    }
}
.info-last::before {
    content: "";
    display: block;
    width: 60%;
    height: 3px;
    background: linear-gradient(to right, var(--color-interactive), #49c691);
    border-radius: 25%;
    margin: 20px auto;
}
.info-last:last-child {
    #caracteristicas {
        li {
            font-size: 16px;
        }
    }
    .last-section {
        @media (min-width: 768px) {
            grid-template-columns: 1fr;
        }
    }
}

.parrafo {
    text-align: justify;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.2;
}

.cta {
    display: inline-block;
    text-decoration: none;
    background-color: rgb(13, 180, 13);
    padding: 12px 15px;
    border-radius: 8px;
    color: #fff;
}

@media (min-width: 768px) {
    .last-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 1rem;
    }
}
#caracteristicas {
    ul {
        li {
            font-size: 14px;
            line-height: 1.5;
            color: var(--color-dark-variant);
        }
    }
}


footer {
    margin: 20px;
}

@media screen and (max-width: 800px) {
    .textos-hero h1 {
        text-align: center;
        font-size: 50px;
    }
    /* estilos generales */
    .titulo {
        font-size: 35px;
    }

    .titulo.left {
        text-align: center;
    }

    .info p {
        text-align: center;
    }

    /* section */

    .website img {
        width: 100%;
    }

    .website .contenedor-textos-main {
        width: 100%;
    }

    /* last */

    .last-section img {
        width: 100%;
    }

    .last-section .contenedor-textos-main {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 400px) {
    .titulo,
    .textos-hero h1 {
        font-size: 30px;
    }

    .textos-hero p {
        font-size: 20px;
        text-align: center;
    }

    .website .contenedor-textos-main {
        margin-bottom: 30px;
    }

    .galeria-cont > img {
        width: 97%;
    }
}
